/* PasswordModal.css */
.modal {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(235, 181, 204, 1) 45%,
    hsl(212, 66%, 75%)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: hsl(212, 66%, 30%);
  text-decoration: none;
}

.modal-content {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px;
  width: 300px;
}

.modal-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-label {
  margin: 10px 0;
  text-align: start;
}

.modal-input {
  margin-top: 5px;
  width: 100%;
  padding: 10px;
  border: 1px solid #b56262;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  background-color: hsl(334, 57%, 97%);
  caret-color: #b56262;
  color: hsl(212, 66%, 30%);
}

.modal-input:focus {
  outline: none;
}

.modal-button {
  background-color: rgb(108, 147, 192);
  color: #fff;
  padding: 7px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

.modal-button:hover {
  background-color: rgba(121, 161, 207, 0.8);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.error-message {
  color: #b56262;
  font-size: 0.8rem;
  margin-top: 5px;
}

/* Add additional styling as needed to match your design preferences */
